.info[data-v-8213a250] {
  margin-bottom: 15px;
}
.flex-center[data-v-8213a250] {
  align-items: center;
  display: flex;
  justify-content: center;
}
[data-v-2e6de468] .q-empty-page-title {
  margin-top: 24px;
}
.msg-import[data-v-2e6de468] {
  color: var(--text_link);
  cursor: pointer;
}
.flex-center[data-v-2e6de468] {
  align-items: center;
  display: flex;
  justify-content: center;
}
